.app-container {
  display: flex;
  height: 100vh;
 }
 
 .navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
 }
 
 .sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
 }
 
 .content {
  flex-grow: 1;
  margin-left: 250px;
 }
